<!--
  ~ Copyright (C) 2020 Baidu, Inc. All Rights Reserved.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tayue.android.hellokotlin">


    <!-- 监听锁屏/开屏/解锁 这个权限不需要-->
<!--    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />-->

    <application>

        <service android:name=".PowerService"/>

    </application>


</manifest>